<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:float="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css"/>
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.dialog.css" />
</head>
<style>
    label{font-size:24px;}
</style>

<body>
<div class="easyui-layout" data-options="fit:true">
<div id="modifydg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px;margin: 10% auto; width: 400px;"
     closed="true" buttons="#modifydg-buttons">
        <div class="modifyPassword" >
            <div classs="dialog-content" style="position: relative;">
                <div class="ui-dialog-icon">
                </div>
                <sapn th:text="${messag}" style="position: absolute; top: 42px; font-size: 25px;"></sapn>
            </div>
        </div>
</div>
</div>

</body>
</html>