<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css"/>
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js1/classify.js"></script><!--注意修改-->
</head>
<style>
    .datagrid-btable {
        width: 100%;
    }

    .datagrid-header-inner {
        width: 100%;
    }

    .datagrid-header {
        width: 100%;
    }

    .datagrid-htable {
        width: 100%;
    }

    .datagrid-cell {
        margin: auto;
    }

    .fitem {
        text-align: center
    }

    .ftitle {
        text-align: center
    }
</style>

<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" style="width: 100%;height: 9%">
    </div>

    <div data-options="region:'center',title:'通知管理列表'">
        <table id="datagrid" class="easyui-datagrid" style="width:100%;height:100%"
               toolbar="#dgtoolbar"
               url="/student/notice/list">
            <thead>
            <tr>
                <th data-options="field:'date',align:'center',width:'11%'">通知时间</th>
                <th data-options="field:'classifyName',align:'center',width:'9%'">通知分类</th>
                <th data-options="field:'id',align:'center',width:'9%'">通知分类id</th>
                <th data-options="field:'title',align:'center',width:'11%',formatter:titleFormater">标题</th>
                <th data-options="field:'applicant',align:'center',width:'11%'">作者</th>
                <th data-options="field:'content',align:'center',width:'11%'">通知内容</th>

            </tr>
            </thead>
        </table>
        <div id="dgtoolbar">
            <div style="float: left">
                <input id="notice_classify" style="width:100px"
                       url="/classify/classifylistFindAll"
                       valueField="id" textField="classifyName">
                </input>
                <input id="notice_title"></input>
                <a href="#" class="easyui-linkbutton" iconCls="icon-query" plain="true" onclick="informationQuery()">查询</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script>
    $("#datagrid").datagrid({
        url: '/student/notice/list',
        pagination: true,
        pageSize: 15,
        pageList: [5, 10, 15, 20]
    })

    function titleFormater(value, row, index) {
        console.log(row)
        return '<a href="/student/notice/page/detail?id=' + row.id + '">'+value+'</a>';
    }

    // 选择宿舍楼
    $('#notice_classify').combobox({
        formatter: function (row) {
            console.log(row)
            return row.classifyName;
        }
    });

    /**
     * 查询
     */
    function informationQuery(){
        $("#datagrid").datagrid({
            url: '/student/notice/list',
            pagination: true,
            pageSize: 15,
            pageList: [5, 10, 15, 20],
            queryParams: form2Json("searchform"),　　//关键之处,指定查询条件
        })
        //将表单数据转为json
        function form2Json() {
            // 宿舍楼
            var classifyId =$('#notice_classify').combobox('getValue')
            console.log('classifyId:'+classifyId)
            var title=$('#notice_title').val();
            return {"classifyId": classifyId,"title":title}
        }
    }
</script>
