<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css"/>
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/easyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js1/building.js"></script><!--注意修改-->
</head>
<style>
    .datagrid-btable{
        width:100%;
    }
    .datagrid-header-inner{
        width:100%;
    }
    .datagrid-header{
        width:100%;
    }
    .datagrid-htable{
        width:100%;
    }
    .datagrid-cell{margin:auto;}
    .fitem{text-align:center}
    .ftitle{text-align:center}
</style>

<body>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north'" style="width: 100%;height: 9%">
    </div>

    <div data-options="region:'center',title:'宿舍楼列表'">
        <table id="datagrid"  class="easyui-datagrid" style="width:100%;height:100%"
               url="/building/buildinglist"
               toolbar="#dgtoolbar" pagination="true"
               pageSize="25"    pageList="[25,15,10]"
               rownumbers="false" fitColumns="true" singleSelect="true" >
            <thead>
            <tr>
                <th data-options="field:'buildingId',align:'center',width:'9%'">宿舍楼</th>
                <th data-options="field:'name',align:'center',width:'11%'">名称</th>
            </tr>
            </thead>
        </table>
        <div id="dgtoolbar">
            <a href="/building/buildingAddPage" target="_blank">新增宿舍楼</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" onclick="removeBuilding()">删除宿舍楼信息</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="editBuilding()">修改宿舍楼信息</a>
            <div style="float: right">
                <input id="information_buildingId" style="width:100px"
                       url="/building/buildingId/names"
                       valueField="text" textField="text"
                       placeholder="宿舍楼">
                </input>
                <a href="#" class="easyui-linkbutton" iconCls="icon-query" plain="true" onclick="informationQuery()">查询</a>
            </div>
        </div>

    </div>
</div>
<div id="modifydg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#modifydg-buttons">
    <div class="ftitle">宿舍楼信息</div>
    <form id="fim" method="post" >
        <div class="fitem">
            <label>编  号:</label>
            <input name="id"  readonly="readonly" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>宿舍楼:</label>
            <input name="buildingId" class="easyui-validatebox" required="true" />
        </div>
        <div class="fitem">
            <label>名  称:</label>
            <input name="name" class="easyui-validatebox" required="true" />
        </div>

    </form>
</div>
<div id="modifydg-buttons">
    <a href="#" class="easyui-linkbutton"  onclick="saveBuilding()">保存</a>
    <a href="#" class="easyui-linkbutton"  onclick="javascript:$('#modifydg').dialog('close')">取消</a>
</div>

</body>
</html>

<script>
    // 选择宿舍楼
    $('#information_buildingId').combobox({
        formatter: function (row) {
            console.log(row)
            return row.text;
        }
    });


    /**
     * 查询
     */
    function informationQuery(){

        $("#datagrid").datagrid({
            url: '/building/conBuildingList',
            pagination: true,
            pageSize: 15,
            pageList: [5, 10, 15, 20],
            queryParams: form2Json("searchform"),　　//关键之处,指定查询条件
        })

        //将表单数据转为json
        function form2Json() {
            // 宿舍楼
            var buildingId =$('#information_buildingId').combobox('getValue')
            console.log('buildingId:'+buildingId)
            return {"buildingId": buildingId}
        }
    }
</script>