<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宿舍管理系统首页</title>
    <script type="text/javascript" ></script>
</head>


<body style="background: url(/images/homePage.jpg);background-size:cover;background-repeat:no-repeat;">
<div style="text-align:center;position:fixed;top:30%;left:35%;font-size:24px">
    <form action="/user/helloWord" method="post">

                <br>您好！
                <br>欢迎来到宿舍管理系统，请选择您的身份！<br><br>

            <a href="/login/userLogin.html" target="_blank">学生</a>
            <a href="/login/managerLogin.html" target="_blank">管理员</a>
    </form>

</div>
</body>
</html>