<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"></meta>
    <title>管理员页面</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.dialog.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css"/>

</head>

<body>
<div id="container">
    <div id="hd">
        <div class="hd-wrap ue-clear">
            <div class="top-light"></div>
            <h1 class="logo"></h1>
            <div class="login-info ue-clear">
                <div class="welcome ue-clear" style="width: 196px;"><!--EL获取用户姓名-->
                    <a>&nbsp;欢迎您<th:em><i class="user-name"></i><span th:text="${session.user.name}"></span></th:em></a></div>
            </div>
            <div class="toolbar ue-clear">
                <a href="javascript:;" class="home-btn modify"></a>
                <a href="javascript:;" class="quit-btn exit"></a>
            </div>
        </div>
    </div>
    <div id="bd">
        <div class="wrap ue-clear">
            <div class="sidebar">
                <h2 class="sidebar-header"><p>功能面板</p></h2>
                <ul class="nav">
                    <li class="system">
                        <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>系统管理</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                            <li><a href="javascript:;"  date-src="/user/userinfomation">学生管理</a></li>
                            <li><a href="javascript:;" date-src="/repair/repairinfomation">报修管理</a></li>
                            <li><a href="javascript:;" date-src="/report/reportinfomation">入住管理</a></li>
                        </ul>
                    </li>
                    <li class="system">
                        <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>宿舍管理</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                            <li><a href="javascript:;" date-src="/building/buildinginfomation">宿舍楼管理</a></li>
                            <li><a href="javascript:;" date-src="/floor/floorinfomation">楼层管理</a></li>
                            <li><a href="javascript:;" date-src="/room/roominfomation">房间管理</a></li>
                        </ul>
                    </li>
                    <li class="system">
                        <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>通知管理</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                            <li><a href="javascript:;" date-src="/classify/classifyinfomation">分类管理</a></li>
                            <li><a href="javascript:;" date-src="/notice/noticeinfomation">通知公告 </a></li>
                        </ul>
                    </li>
                    <li class="system">
                        <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>个人中心</span><i class="icon"></i></a></div>
                        <ul class="subnav">
                            <li><a href="javascript:;" date-src="/user/updateMyInfo">个人信息</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="content">
                <iframe src="welcome" id="iframe" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="exitDialog" >
    <div classs="dialog-content">
        <div class="ui-dialog-icon">
        </div>
        <div class="ui-dialog-text">
            <p class="dialog-content">你确定要退出系统？</p>
            <p class="tips">如果是请点击“确定”，否则点“取消”</p>

            <div class="buttons">
                <input type="button" class="button long2 ok" value="确定" />
                <input type="button" class="button long2 normal" value="取消" />
            </div>
        </div>

    </div>
</div>

<div class="modifyPassword">
    <div classs="dialog-content">
        <div class="ui-dialog-icon">
        </div>
        <div class="ui-dialog-text">
            <form action="/user/modifypassword" method="post">
                <table align="center" width="280px" style="height:180px; text-align:center;">
                    <tr style="display: none">
                        <td ></td>                                       <!--EL获取用户账号-->
                        <td><input type="userId" name="userId" th:value="${session.user.userId}"></input></td>
                    </tr>
                    <tr>
                        <td >初始密码：</td>
                        <td><input type="password" name="oldpassword"></input></td>
                    </tr>
                    <tr>
                        <td>新密码：</td>
                        <td><input type="password" name="newpassword1"></input></td>
                    </tr>
                    <tr>
                        <td>再次输入：</td>
                        <td><input type="password" name="newpassword2"></input></td>
                    </tr>
                    <tr>
                        <td style="text-align:center;"><input type="submit" name="" value="确定" class="button long2 ok" align="center" onclick="document.getElementById('light').style.display='block';"></input></td>
                        <td style="text-align:center;"><input type="button" name="" value="关闭"  class="button long2 normal"  onclick="document.getElementById('light').style.display='none';"></input></td>
                    </tr>
                </table>

            </form>
        </div>

    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/core.js"></script>
<script type="text/javascript" src="/js/jquery.dialog.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<script>
    $('.modify').click(function () {
        $('.modifyPassword').Dialog('open');
    });
    $('.modifyPassword').Dialog({
        title:'修改密码',
        autoOpen: false,
        width:400,
        height:200

    });

    $('.modifyPassword input[type=button]').click(function(e) {
        $('.modifyPassword').Dialog('close');

        if($(this).hasClass('ok')){
            window.location.href = "exit";
        }
    });

    $('.exit').click(function(){
        $('.exitDialog').Dialog('open');
    });

    $('.exitDialog').Dialog({
        title:'提示信息',
        autoOpen: false,
        width:400,
        height:200

    });

    $('.exitDialog input[type=button]').click(function(e) {
        $('.exitDialog').Dialog('close');

        if($(this).hasClass('ok')){
            window.location.href = "/user/exit";
        }
    });
</script>
</html>
