<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生注册页面</title>
    <script type="text/javascript" ></script>
</head>
<body style="background: url(/images/login2.jpg);background-size:cover;background-repeat:no-repeat;">
<form action="/user/uregister" method="post">
    <div style="font-size:21px;text-align:center;background: #008B8B;position:fixed;top:20%;left:35%;height: 468px; width: 350px;filter:alpha(Opacity=60);-moz-opacity:0.5;opacity: 0.5">
        <div style="font-size:22px;height: 100px;width: 350px;background: #4682B4;filter:alpha(Opacity=60);-moz-opacity:0.5;opacity: 0.5">
            <br>学生注册
        </div>
        学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号:<input type="text" name="userId" /></br>
        密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:<input type="password" name="password" /></br>
        确认密码:<input type="password" name="password2" /></br>
        姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:<input type="text" name="name" /></br>
        性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别:<input type="text" name="sex" /></br>
        年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄:<input type="text" name="age" /></br>
        电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:<input type="text" name="telephone" /></br>
        &nbsp;宿舍楼&nbsp;:<input type="text" name="building" /></br>
        楼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;层:<input type="text" name="floor" /></br>
        房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;间:<input type="text" name="room" /></br>
        <input type="submit" value="注册">
    </div>

</form>
</body>
</html>