<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="/user/uregister" method="post">
    学号:<input type="text" name="userId" /></br>
    密码:<input type="password" name="password" /></br>
    确认密码:<input type="password" name="password2" /></br>
    姓名:<input type="text" name="name" /></br>
    性别:<input type="text" name="sex" /></br>
    年龄:<input type="text" name="age" /></br>
    电话:<input type="text" name="telephone" /></br>
    楼:<input type="text" name="building" /></br>
    楼层:<input type="text" name="floor" /></br>
    房间:<input type="text" name="room" /></br>
    <input type="submit" value="注册">
</form>
</body>
</html>