<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qwn.domitoryProject.mapper.NoticeMapper">



    <resultMap id="BaseResultMap" type="com.qwn.domitoryProject.entity.Notice" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="classifyId" property="classifyId" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="applicant" property="applicant" jdbcType="VARCHAR" />
        <result column="date" property="date" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,
        classifyId,
        title,
        content,
        applicant,
        date
    </sql>

    <select id="selectListByClassIfy" resultType="java.util.Map">
        select a.*,b.classifyName from t_notice a,t_classify b
        <where>
            a.classifyId =b.id
            <if test="classifyId != null">
                and a.classifyId=  #{classifyId}
            </if>
        </where>
    </select>

    <!--查询通知分类记录-->
    <select id="selectAllNotice" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_notice
    </select>

    <!--查询通知分类记录数量-->
    <select id="getNoticenumber" resultType="java.lang.Integer">
        select count(*) from t_notice
    </select>

    <!--新增通知分类自增長-->
    <insert id="addNotice" parameterType="com.qwn.domitoryProject.entity.Notice" useGeneratedKeys="false" keyProperty="id">
        INSERT INTO t_notice (classifyId,title,content,applicant,date VALUES (#{classifyId},#{title},#{content},#{applicant},#{date})
    </insert>

    <!--修改通知分类信息记录-->
    <update id="updateByPrimaryKeyNotice" parameterType="com.qwn.domitoryProject.entity.Notice">
        update t_notice
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="classifyId != null">
                classifyId = #{classifyId,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="applicant != null">
                applicant = #{applicant,jdbcType=VARCHAR},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--删除通知分类信息-->
    <delete id="deleteByPrimaryKeyNotice" parameterType="java.lang.Integer">
        delete from t_notice
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="noticelistFindAll" resultType="com.qwn.domitoryProject.entity.Notice">
        select * from t_notice
    </select>
</mapper>