<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qwn.domitoryProject.mapper.stuRepairMapper" >

    <resultMap id="BaseResultMap" type="com.qwn.domitoryProject.entity.StuRepair" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="buildingId" property="buildingId" jdbcType="VARCHAR" />
        <result column="floorId" property="floorId" jdbcType="VARCHAR" />
        <result column="roomId" property="roomId" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="descr" property="descr" jdbcType="VARCHAR" />
        <result column="data" property="data" jdbcType="VARCHAR" />
        <result column="applicant" property="applicant" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,
        buildingId,
        floorId,
        name,
        roomId,
        descr,
        applicant,
        data,
        state
    </sql>

    <!--学生查询本人维修记录-->
    <select id="selectStuRepairByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_repair where applicant = #{applicant,jdbcType=VARCHAR}
    </select>

    <!--学生查询维修记录数量-->
    <select id="getStuRepairnumber" resultType="java.lang.Integer">
     select count(*) from t_repair where applicant = #{applicant,jdbcType=VARCHAR}
    </select>

    <!--学生新增维修 自增長-->
    <insert id="addStuRepair" parameterType="com.qwn.domitoryProject.entity.StuRepair" useGeneratedKeys="false" keyProperty="id">
        INSERT INTO t_repair (buildingId,floorId,roomId,name,descr,data,applicant) VALUES (#{buildingId},#{floorId},#{roomId},#{name},#{descr},#{data},#{applicant})
    </insert>

    <!--学生修改维修记录-->
    <update id="updateByPrimaryKeyStuRepair" parameterType="com.qwn.domitoryProject.entity.StuRepair">
        update t_repair
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="buildingId != null">
                buildingId = #{buildingId,jdbcType=VARCHAR},
            </if>
            <if test="floorId != null">
                floorId = #{floorId,jdbcType=VARCHAR},
            </if>
            <if test="roomId != null">
                roomId = #{roomId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="descr != null">
                descr = #{descr,jdbcType=VARCHAR},
            </if>
            <if test="data != null">
                data = #{data,jdbcType=VARCHAR},
            </if>
            <if test="applicant != null">
                applicant = #{applicant,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--学生删除维修记录-->
    <delete id="deleteByPrimaryKeyStuRepair" parameterType="java.lang.Integer">
    delete from t_repair
    where id = #{id,jdbcType=INTEGER}
    </delete>


</mapper>